:root {
  --bg: #f3f3f4;
  --card: #111827;
  --text: #9487b0;
  --muted: #545ad0;
  --accent: #743bd0;
  --border: #1f2933;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.7s ease;
}

body {
  font-family: 'Roboto Slab', sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

section {
  padding: 80px 0;
}

header {
  position: fixed;
  top: 0;
  background: rgba(88, 31, 172, 0.85);
  /* backdrop-filter: blur(30px); */
  border-bottom: 1px solid var(--border);
  width: 100%;
}

/* Navbar */

nav {
  height: 70px;
  width : 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 1000; */
}

.logo {
  font-weight: 700;
  color: white;
}

.nav-links {
  display: flex;
  gap: 2.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.nav-links a:hover {
  color: var(--muted);
}

/* Hero Section */

.card{
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2.section-title {
  text-align: center;
  margin-bottom: 1rem;
}

.hero {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 60px;
  align-items: center;
}

/* Image */
.hero-image img {
  width: 100%;
  max-width: 360px;
  border-radius: 20px;
  border: 1px solid var(--border);
}

/* Text */
.hero-content h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: 10px;
}

.hero-content h1 span {
  color: var(--accent);
}

.hero-content h2 {
  color: var(--muted);
  font-weight: 500;
  margin-bottom: 20px;
}

.hero-content p {
  color: var(--muted);
  max-width: 520px;
}


.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 26px;
  border-radius: 999px;
  background: var(--accent);
  color: #e6e7ec;
  font-weight: 600;
  text-decoration: none;
}

.btn:hover {
  background-color: #e6e7ec;
  color: var(--accent);
}

.section-title {
  font-size: 2rem;
}

.section-subtitle {
  color: var(--muted);
  margin-bottom: 40px;
}

/* About, Skills, Projects, Contact Sections */

.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.about-card,
.skill,
.project,
.contact-card {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 16px;
  padding: 24px;
}

.skills,
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* Footer */

footer {
  padding: 30px;
  text-align: center;
  background-color: var(--muted);
  color: #e6e7ec;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.footer-icons {
  display: flex;
  gap: 20px;
}

.footer-icons a {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--card);
  border: 1px solid var(--border);
  color: var(--muted);
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.footer-icons a:hover {
  color: var(--accent);
  border-color: var(--accent);
  transform: translateY(-4px);
}


/* Mobile Navbar */
.menu-icon {
  display: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--text);
}

/* Contact Form */
#contactForm {
  display: flex;
  flex-direction: column;
  background-color: #9aa1c3;
  gap: 1rem;
  margin-top: 1rem;
  padding: 10px;
  border: 1px solid var(--border);
  width: 50%;
 
}

.contact{
display: flex;
justify-content: center;
}

#contactForm input,
#contactForm textarea {
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 8px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  
}

/* Mobile Styles */
@media (max-width: 768px) {

  .hero-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-image img {
    margin: 0 auto;
  }

  nav {
    position: relative;
  }

  .logo {
    margin: auto;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 20px;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: var(--bg);
    border-top: 1px solid var(--border);
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }
}
