* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

/*------- General Heading Styles -------*/

#title {
    text-align: center;
    margin: 1rem 0;
    font-size: 2.5em;
    color: #0b1e0c;
}

.topic {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 1rem;
}

/*------- NavLinks Styles -------*/
.navLinks {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

#navLink {
    color: #0b1e0c;
    font-weight: 600;
    font-size: 1.1em;
    border: 1px solid #0b1e0c;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: #9dc2d7;
}

#navLink:hover {
    background-color: #fff;
    color: #0b1e0c;
    transition: 0.3s ease-in-out;
}

#navLink a {
    text-decoration: none;
    color: inherit;
}

/*------- Form Styles -------*/

.formContainer {
    max-width: 80%;
    margin: 0 auto 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.formTitle {
    font-size: 1.5em;
    margin-bottom: 1rem;
    color: #0b1e0c;
    text-align: center;
}

.sampleForm {
    width: 100%;
    display: grid;
    place-items: center;
}

.formSection {
    margin: 1.2rem 0;
    width: 70%;
}

.formSection label {
    display: block;
    /* margin-bottom: 0.5rem; */
    font-weight: 600;
}

.nameFields {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.nameFields input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
}

.languageFields {
    display: flex;
    gap: 1rem;
    /* flex-direction: column; */
}

.languageFields input {
    margin-left: 0.5rem;
    margin-right: -0.5rem;
}

.vehicleFields {
    display: flex;
    gap: 1rem;
}

.vehicleFields input {
    margin-left: 0.5rem;
    margin-right: -0.5rem;
}

#submitButton {
    display: block;
    width: 30%;
    margin: 1.5rem auto 0 auto;
    padding: 0.7rem;
    border: none;
    border-radius: 4px;
    background-color: #0b1e0c;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
}

#submitButton:hover {
    background-color: #145214;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/*------- Registration Form Styles -------*/
.registrationForm {
    display: grid;
    place-items: center;
}

.emailFields {
    display: flex;
    gap: 1rem;
}

.emailFields input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
}

.passwordFields {
    display: flex;
    gap: 1rem;
}

.passwordFields input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
}

.genderFields {
    display: flex;
    gap: 1rem;
}

.genderFields input {
    margin-left: 0.5rem;
    margin-right: -0.5rem;
}

.ageFields {
    display: flex;
    gap: 1rem;
}

.ageFields input {
    width: 20%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
}

.qualificationFields {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.qualificationFields label {
    font-weight: 600;
}

.qualificationFields #qualification {
    text-align: center;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    color: #0b1e0c;
    font-size: 1em;
    font-weight: 550;
}

.educationAgeFields {
    display: flex;
    gap: 9rem;
    align-items: center;
}

.termsFields {
    display: flex;
    gap: 1rem;
}

.termsFields input {
    margin-left: 0.5rem;
    margin-right: -0.5rem;
}

/*------- Login Form Styles -------*/
.loginForm {
    display: grid;
    place-items: center;
}