* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

/*------- General Heading Styles -------*/

#title {
    text-align: center;
    margin: 1rem 0;
    font-size: 2.5em;
    color: #0b1e0c;
}

.topic {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 1rem;
}

/*------- NavLinks Styles -------*/
.navLinks {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.navLink {
    color: #0b1e0c;
    font-weight: 600;
    font-size: 1.1em;
    border: 1px solid #0b1e0c;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: #9dc2d7;
}

.navLink:hover {
    background-color: #fff;
    color: #0b1e0c;
    transition: 0.3s ease-in-out;
}

.navLink a {
    text-decoration: none;
    color: inherit;
}

/*------- Form Styles -------*/

.formContainer {
    max-width: 80%;
    margin: 0 auto 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.formTitle {
    font-size: 1.5em;
    margin-bottom: 1rem;
    color: #0b1e0c;
    text-align: center;
}

.sampleForm {
    width: 100%;
    display: grid;
    place-items: center;
}

.formSection {
    margin: 1.2rem 0;
}

.extraInfo{
    display: flex;
    gap: 1rem;
    margin: 1.2rem 0;
}

.formGroup{
    width: 90%;
}
/* ========================= INPUTS & SELECT ========================= */

.formSection input, 
.formSection select {
  width: 100%;
}

.formSection label,
.extraInfo label {
  display: block;
  font-weight: 600;
}


input, select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
    font-size: 1rem;
}

.extraInfo select{
    appearance: none;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 550;
    color: #0b1e0c;
}

.nameFields {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
}
.emailFields, .passwordFields {
    display: flex;
    gap: 1rem;
}

.vehicleFields, .languageFields, .genderFields, .termsFields {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.submitButton {
    display: block;
    width: 30%;
    margin: 1.5rem auto 0 auto;
    padding: 0.7rem;
    border: none;
    border-radius: 4px;
    background-color: #0b1e0c;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #145214;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

/*------- Registration and Login Form Styles -------*/

.registrationForm, .loginForm {
    display: grid;
    place-items: center;
}

/*--------- EDUCATION & AGE ROW ------------*/

.educationAgeFields {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: flex-start;
}

/* ------------ AGE INPUT ---------- */

.ageFields input {
  max-width: 120px;
}

.termsFields {
    width: 50%;
}

/* ------------- FOCUS STATES ------------- */

.formSection input:focus,
.formSection select:focus {
  outline: 2px solid #1e0b10;
  outline-offset: 2px;
}

@media (max-width: 600px) {

  .navLinks{
    width: 70%;
    margin-left: 4rem;
  }

  
  .formGroup{
      flex-direction: column;
    }
    
  .genderFields,
  .ageFields{
      flex-direction: row;
  }

  .educationAgeFields {
    gap: 1.5rem;
  }

  .submitButton {
    width: 100%;
  }
}
